.vscode/
ARM/
Assets/
inc/
ObjectOutput/
RTE/
*.axf
*.crf
*.d
*.dep
*.exe
*.htm
*.iex
*.lnp
*.lst
*.map
*.o
*.plg
*.sch
*.scvd
*.txt
*.uvguix
*.uvguix.arjun
*.uvguix.valvano
*.uvguix.zpang
*.uvopt
*.uvoptx
*.uvprojx
*.xls
startup.s
TExaS.c
TExaS.h